.user-content{
    display: flex;
    color: black;
    margin-top: 5%;
}

.fachbereich{
    display: block;
    color: grey;
}

.name {
    display: block;
    width: auto;
}

.avatar {
    width: 10%;
    border-radius: 50%;
}