.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    margin: 5% 5%;
}

.fachbereich{
    display: block;
    color: grey;
}

.usertext{
    margin-left: 5%;
}

.name {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    display: block;
    width: auto;
}

.avatar {
    width: 15%;
    border-radius: 100%;
}